<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.min.css" />


@{
	ViewBag.Title = "Report";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AnalysisView.Models;
@model List<khach_hang_report>
<h2>Customer Report</h2>
<div id="rp_cus_table" class=""></div>
<table id="report_cus_table">
	<thead>
		<tr>

			<th>Customer Name</th>
			<th>Customer City</th>
			<th>Unit Sales</th>
			<th>Sales Cost</th>
		</tr>
	</thead>
	<tbody>
		@foreach (khach_hang_report khs in Model)
		{
			<tr>
				<td>@khs.tenkh</td>
				<td>@khs.diachi</td>
				<td>@khs.soluong</td>
				<td>@khs.sotien</td>
			</tr>
		}
	</tbody>
</table>
<script>
	$('.active').removeClass();
	$('#report_cus').addClass('active');
	var table = $('#report_cus_table').dataTable();
	var tabletools = new $.fn.dataTable.TableTools(table, {
		'sSwfPath': '//cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf',
		'aButtons': ['copy', {
			'sExtends': 'print',
			'bShowAll': false
		},
			'csv', {
				'sExtends': 'xls',
				'sFileName': 'Report_Customer.xls',
				'aButtons': 'Save to Exel',
				//'bShowAll': false
			},
			{
				'sExtends': 'pdf',
				'sFileName': 'Report_Customer.pdf',
				'bFooter': false
			}]
	});
	$(tabletools.fnContainer()).insertBefore('#rp_cus_table');

</script>

